<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Register Purchase</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="dark-bg">
  <div class="custom-card dealer-card" *ngFor="let dealer of dealers">
    <div class="content border-bottom">
      <div class="dealer-detail clearfix">
        <span class="image"><img src="assets/profile_placeholder.png"></span>
        <div class="title">
          {{ dealer.name }}
        </div>
        <ion-icon name="call" color="secondary" class="icon-left"></ion-icon>
        {{ ' '+dealer.mobile }}<br>
        <ion-icon name="mail" color="secondary" class="icon-left"></ion-icon>
        {{ dealer.email != null ?  ' '+dealer.email : 'N/A'}} <br>
        <ion-icon name="calendar" color="secondary" class="icon-left"></ion-icon>
        {{ dealer.purchaseData }}
      </div>

      {{ dealer.name }} has sent you a purchase request of quantity <span class="text-highlight">{{ dealer.purchaseQty}}kg</span>
    </div>
    <div [ngClass]="{'actions': true, 'selected':(selectedDealer.indexOf(dealer.id) > -1 && multiSelect==true)}">
      <ion-row >
        <ion-col col-12 (click)="approveDealer(dealer)" *ngIf="multiSelect==false">
          Approve
        </ion-col>
        <ion-col col-12 (click)="selectDealer(dealer)" *ngIf="multiSelect==true">
          {{selectedDealer.indexOf(dealer.id) > -1 ? 'Unselect' : 'Select'}}
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div class="clearArea"></div>
  <div class="row bar bar-footer" (click)="enableMultiselect()" *ngIf="multiSelect==false">
    <ion-row >
      <ion-col col-12  >
        Approve multiple
      </ion-col>
    </ion-row>
  </div>
  <div class="row bar bar-footer" (click)="enableMultiselect()" *ngIf="multiSelect==true">
    <ion-row >
      <ion-col col-6  class="border-right">
        Approve
      </ion-col>
      <ion-col col-6  >
        Reject
      </ion-col>
    </ion-row>
  </div>
</ion-content>
