<ion-header>
  <ion-navbar color="primary" hideBackButton="true">
    <button ion-button menuToggle *ngIf="!isRoot">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="dark-bg">
  <div class="custom-card">
    <div class="title">Login</div>
    <div class="content">
      <ion-item>
        <ion-input type="text" placeholder="Username*" [(ngModel)]="userName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input #input type="password" placeholder="Password*" [(ngModel)]="password"></ion-input>
        <button ion-button clear color="dark" type="button" item-right (click)="showPassword(input)"> <ion-icon  name="{{input.type=='password' || input.type== '' ? 'eye' : 'eye-off'}}" *ngIf="password != ''"> </ion-icon></button>
      </ion-item>

      <button style="margin-top: 48px" ion-button block color="secondary" (click)="login()">Login</button>
      <div class="text-center">
        <span class="forgot-password-button" (click)="forgotPassword()">Forgot Password?</span>
      </div>
    </div>
  </div>

  <div text-center>
    <span class="login-or">or</span>
    <br>
    <span class="create-account" (click)="openRegistrationPage()">Create Account</span>
  </div>
</ion-content>
