<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>616807808716-9q5bs9ru52qtk3oe252n15av55p2jd65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616807808716-9q5bs9ru52qtk3oe252n15av55p2jd65</string>
	<key>API_KEY</key>
	<string>AIzaSyAx_I-oDrGrWbCVFu83WKVfHUZ8tUQoZBE</string>
	<key>GCM_SENDER_ID</key>
	<string>616807808716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mjunction.tatatube.sitare</string>
	<key>PROJECT_ID</key>
	<string>tata-40b49</string>
	<key>STORAGE_BUCKET</key>
	<string>tata-40b49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:616807808716:ios:12e0b22897c776e8</string>
	<key>DATABASE_URL</key>
	<string>https://tata-40b49.firebaseio.com</string>
</dict>
</plist>