ion-slides {
  height: auto;
}


.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 8px;
}

.swiper-pagination-bullet-active {
  background: map-get($colors, secondary);
}

.swiper-container {
  padding-bottom: 30px;
}

.swiper-pagination-bullet {
  border-radius: 0px;
  width: 24px;
}

.home-options-image {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 6px;
}

page-home{
  ion-title{
    background-image: url("../assets/top_logo.png");
    display:block;
    height:50px;
    text-indent:-9999px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .dark-bg{
    background-color: #e4e4e4;
  }

  ion-col img{
    border-radius: 5px;
  }
}
